/* Main style for the website*/
/* RESET */
* {
	margin: 0;
	font-size: 100%;
	text-decoration: none;
}
/* ACTUAL */
body {
	background: url("assets/pics/bkg.png") rgba(0,255,0,0.5);
	background-position: center;
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: cover;
}

	/* Banner properties */
.banner {
	position: absolute;
	top: 0px;
	width: 100%;
	min-width: 800px;
	height: 80px;
	background-image: -moz-linear-gradient( 90deg, rgba(24,255,0,0.74902) 0%, rgba(23,245,0,0.87) 6%, rgba(16,179,0,0.93) 47%, rgb(7,103,0) 100%);
	background-image: -webkit-linear-gradient( 90deg, rgba(24,255,0,0.74902) 0%, rgba(23,245,0,0.87) 6%, rgba(16,179,0,0.93) 47%, rgb(7,103,0) 100%);
	background-image: -ms-linear-gradient( 90deg, rgba(24,255,0,0.74902) 0%, rgba(23,245,0,0.87) 6%, rgba(16,179,0,0.93) 47%, rgb(7,103,0) 100%);
    box-shadow: 0px 1px 1.5px 1.5px rgba(0, 0, 0, 0.25);
}
.banner-logo {
	position: relative;
	top: 0px;
	width: 70px;
	height: 70px;
	float: left;
	padding: 4px;
	border-right: 2px solid rgb(0,0,0);
	border-bottom: 2px solid rgb(0,0,0);
}
.banner-text {`
	position: relative;
	top: 0px;
	left: 80px;
	right: 0px;
	width: calc(100% - 80px);
	float: left;
	padding-top: 14.5px;
	padding-bottom: 14.5px;
	border-bottom: 2px solid rgb(0,0,0);
}
.banner-text p {
	text-align: center;
	font-size: 32pt;
	color: rgb(255,255,255);
	text-shadow: 3px 3px 1px rgba(0,0,0,1);
	-webkit-animation: bannertext 2.5s 1;
    animation: bannertext 2.5s 1;
}
@-webkit-keyframes bannertext {
	0% {
		opacity: 0.0;
		text-shadow: -15px 5px 0px rgba(0,0,0,0);
	}
	25% {
		opacity: 0.9;
		filter: blur(3px);
		text-shadow: 20px 10px 0px rgba(0,0,0,0.9);
	}
	100% {
		filter: blur(0px);
	}
}
@keyframes bannertext {
	0% {
		opacity: 0.0;
		text-shadow: -15px 5px 0px rgba(0,0,0,0);
	}
	25% {
		opacity: 0.9;
		filter: blur(3px);
		text-shadow: 20px 10px 0px rgba(0,0,0,0.9);
	}
	100% {
		filter: blur(0px);
	}
}
	/* Main content properties */
.main {
	position: absolute;
	top: 80px;
	bottom: 80px;
	width: 100%;
	min-width: 800px;
}
.main-body {
	position: absolute;
	top: 20px;
	bottom: 20px;
	left: 7.5%;
	width: calc(100% - 14% - 4px);
	min-width: 684px;
	background: rgba(255,255,255,0.9);
	border: 2px solid rgb(0,0,0);
}
.menu-bar {
	position: relative;
	top: 0px;
	left: 0px;
	right: 0px;
	height: 60px;
	background: rgb(2,94,0);
	border-bottom: 2px solid rgb(0,0,0);
}
.menu-bar a {
	position: relative;
	top: 0px;
	width: calc(calc(100% - 6px)/4);
	float: left;
	padding-top: 11.5px;
	padding-bottom: 11.5px;
	text-align: center;
	font-size: 24pt;
	color: rgb(255,255,255);
}
.menu-bar a:hover {
	text-decoration: underline;
	-webkit-animation: menuhover 1.5s infinite alternate;
    animation: menuhover 1.5s infinite alternate;
}
@-webkit-keyframes menuhover {
	from {
		background: rgb(2,94,0);
		text-shadow: -3px 3px 1px rgba(0,0,0,0);
	}
	to {
		background: rgb(24,255,0);
		text-shadow: 3px 3px 1px rgba(0,0,0,1);
	}
}
@keyframes menuhover {
	from {
		background: rgb(2,94,0);
		text-shadow: -3px 3px 1px rgba(0,0,0,0);
	}
	to {
		background: rgb(24,255,0);
		text-shadow: 3px 3px 1px rgba(0,0,0,1);
	}
}
#home {
	border-right: 1px solid rgb(0,0,0);
}
#about {
	border-left: 1px solid rgb(0,0,0);
	border-right: 1px solid rgb(0,0,0);
}
#news {
	border-left: 1px solid rgb(0,0,0);
	border-right: 1px solid rgb(0,0,0);
}
#forums {
	border-left: 1px solid rgb(0,0,0);
}
	/* Bottom content properties */
.bottom {
	position: absolute;
	bottom: 0px;
	width: 100%;
	min-width: 800px;
	height: 78px;
	background-image: -moz-linear-gradient( 90deg, rgba(24,255,0,0.74902) 0%, rgba(23,245,0,0.87) 6%, rgba(16,179,0,0.93) 47%, rgb(7,103,0) 100%);
	background-image: -webkit-linear-gradient( 90deg, rgba(24,255,0,0.74902) 0%, rgba(23,245,0,0.87) 6%, rgba(16,179,0,0.93) 47%, rgb(7,103,0) 100%);
	background-image: -ms-linear-gradient( 90deg, rgba(24,255,0,0.74902) 0%, rgba(23,245,0,0.87) 6%, rgba(16,179,0,0.93) 47%, rgb(7,103,0) 100%);
	border-top: 2px solid rgb(0,0,0);
	text-align: center;
}


