/* Glass Blur Effect */
.glassblurBanner {
	
}
.glassblurMain {
	position: absolute;
	top: 150px;
	bottom: 10px;
	width: 80%;
	padding-top: 50px;
	padding-bottom: 50px;
	padding-left: 10%;
	padding-right: 10%;
	background: url("../pics/bkg.png") fixed;
	background-size: cover;
	background-position-x: center;
	background-position-y: center;
	background-origin: padding-box;
	background-clip: content-box;
	box-shadow: 3px 3px 1px 0px rgba(0, 0, 0, 0.75);
	filter: blur(5px);
	z-index: 0;
}
.glassblurBottom {
	
}