/* Main style for the website*/
/* RESET */
* {
	margin: 0;
	font-size: 100%;
	text-decoration: none;
}
/* Content */

h1 {
	font-size: 48pt;
	text-align: center;
	padding: 5px;
}
h2 {
	font-size: 28pt;
	text-align: center;
	padding: 5px;
}
h3 {
	font-size: 18pt;
	text-align: center;
}
#vision p, #mission p, div#school-programs p, div#core-values p, div#building p, p#school-hymn {
	width: 80%;
	margin-bottom: 10px;
	margin-top: 10px;
	margin-left: 10%;
	margin-right: 10%;
	font-size: 24pt;
	text-align: center;
}
p#school-hymn {
	font-family: Kristen ITC;
}
p#hymnInfo {
	font-size: 20pt;
	text-align: center;
}
p#hymnInfo2 {
	font-size: 16pt;
	text-align: center;
}
p#loc {
	margin: 12px;
	font-size: 24pt;
	text-align: center;
}
div#schoolLocMap {
	width: 90%;
	Height: 90%;
	margin-left: 5%;
}
div#history p{
	width: 85%;
	text-indent: 4em;
	font-size: 16pt;
	text-align: justify;
}
div#r-a-r {
	width: 90%;
	margin: 5px;
	margin-left: 5%;
}
div#rarlinks {
	font-size: 18pt;
	text-align: center;
}
div#r-a-r p{
	text-indent: 4em;
	font-size: 18pt;
	text-align: justify;
}
p#sancnote {
	font-style: italic;
}
ul {
	margin-left: 5%;
	font-size: 18pt;
}
li {
	padding: 5px;
}
form {
	width: 80%;
	margin: 10%;
}
legend {
	font-size: 24pt;
}
div#persName {
	float: left;
	width: 70%;
}
div#persName input#age {
	width: 70px;
}
div#persName input {
	width: 100%;
}
div#persSex {
	float: left;
	width: 25%;
}





